@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body,
.conteiner,
.content {
  align-items: center;
  justify-content: center;
  display: flex;
}
body {
  background-color: rgb(88, 88, 192);
  height: 100vh;
}
.conteiner {
  width: 405px;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
  flex-direction: column;
}
.conteiner h1 {
  font-size: 40px;
  margin: 30px 0;
}
.conteiner .content.disable{
  opacity: 0.5;
  pointer-events: none;
}
.conteiner .content {
  width: 100%;
  justify-content: space-between;
}
.content .controls {
  border: 1px solid rgb(97, 30, 163);
  width: calc(100% / 2 - 5px);
  border-radius: 5px;
  padding: 5px 10px;
}
.content .controls select {
  outline: 0;
  border: 0;
  width: 100%;
  font-size: 1rem;
}
.conteiner button {
  width: 100%;
  outline: 0;
  border: 0;
  background-color: rgb(97, 30, 163);
  color: aliceblue;
  padding: 15px 0;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
}
